<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.easybuy.dao.ProviderMapper">
	<select id="selectProvider" resultType="Provider">
		SELECT * FROM `smbms_provider`
	</select>
	<insert id="addProvider" parameterType="Provider">
		INSERT INTO
		`smbms_provider`(`proName`,`proCode`,`proDesc`,`proContact`,
		`proPhone`,`proAddress`,`proFax`,`createdBy`,`creationDate`)
		VALUES(#{proName},#{proCode},#{proDesc},#{proContact},
		#{proPhone},#{proAddress},#{proFax},#{createdBy},#{creationDate})
	</insert>
	<delete id="deleteProvider" parameterType="Provider">
		DELETE FROM `smbms_provider` WHERE id=#{id}
	</delete>
	<select id="selectProviderID" resultType="Provider">
		SELECT * FROM `smbms_provider` WHERE id=#{id}
	</select>
	<update id="updateProvider" parameterType="Provider">
		UPDATE `smbms_provider`
		<set>
			<if test="proName != null">
				`proName`=#{proName},
			</if>
			<if test="proCode != null">
				`proCode`=#{proCode},
			</if>
			<if test="proDesc != null">
				`proDesc`=#{proDesc},
			</if>
			<if test="proContact != null">
				`proContact`=#{proContact},
			</if>
			<if test="proPhone != null">
				`proPhone`=#{proPhone},
			</if>
			<if test="proAddress != null">
				`proAddress`=#{proAddress},
			</if>
			<if test="proFax != null">
				`proFax`=#{proFax},
			</if>
			<if test="createdBy != 0">
				`createdBy`=#{createdBy},
			</if>
			<if test="creationDate != null">
				`creationDate`=#{creationDate},
			</if>
		</set>
		WHERE `id`=#{id}
	</update>
</mapper>
