<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.easybuy.dao.RoleMapper">
    <select id="selectRole" resultType="Role">
SELECT * FROM `smbms_role`
    </select>
    <insert id="addRole" parameterType="Role">
INSERT INTO `smbms_role`
(`roleCode`,`roleName`,`createdBy`,`creationDate`)
VALUES(#{roleCode},#{roleName},#{createdBy},#{creationDate})
    </insert>
    <delete id="deleteRole" parameterType="Role">
        DELETE FROM  `smbms_role` WHERE id = #{id}
    </delete>
    <select id="selectRoleID" resultType="Role">
SELECT * FROM `smbms_role` WHERE id = #{id}
    </select>
    <update id="updateRole" parameterType="Role">
        UPDATE `smbms_role`
	set
				`roleCode`=#{roleCode},
				`roleName`=#{roleName},
				`createdBy`=#{createdBy},
				`creationDate`=#{creationDate}
		WHERE `id`=#{id}
    </update>
</mapper>